.controlHeader,
.instrumentHeader {
  font-family: 'Major Mono Display', monospace;
}

.currentProject {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
}

.fixedProject {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90%;
  width: 80%;
  min-width: 1200px;
  overflow: scroll;
  overflow-x: hidden;
  gap: 20px;
  padding: 40px;
  position: absolute;
  top: 80px;
  margin-bottom: 4rem;
}

.fixedProject::-webkit-scrollbar {
  width: 1rem;
}

.fixedProject::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--black-ish);
}

.fixedProject::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--pink),
    var(--pennyroyal),
    var(--purple),
    var(--aqua)
  );
  border-radius: 50px;
}

.fixedProject > * {
  width: 100%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: var(--aqua);
}
.circle {
  width: 100px;
  height: 100px;
  background-color: var(--pink);
}
.triangle {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.addChannelSelect {
  border-radius: 10px;
  border: var(--white-ish) double 5px;
  font-family: 'Barlow';
  align-self: center;
  width: 180px;
  height: 60px;
  background-color: var(--black-ish);
  color: var(--white-ish);
}

.dropDownPianoSelect {
  border-radius: 10px;
  border: var(--white-ish) double 5px;
  font-family: 'Barlow';
  align-self: center;
  width: 180px;
  height: 60px;
  background-color: var(--black-ish);
  color: var(--white-ish);
  margin: 5px;
}
