.explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.explore h3 {
  margin-top: 90px;
  font-size: 2em;
  letter-spacing: 3px;
  font-weight: 400;
  width: 80%;
  border-bottom: dotted var(--white-ish) 1px;
  text-align: center;
  line-height: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  padding-bottom: 100px;
}

.projectCard {
  width: 300px;
  height: 120px;
  border: grey solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-radius: 10px;
  overflow: auto;
  font-size: 1.5em;
  overflow: hidden;
  cursor: pointer;
}

.projectCard:hover p {
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: 1.6em;
  filter: drop-shadow(0 0.2rem 0.25rem var(--pink));
}
