.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: double var(--white-ish) 3px;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.row {
  display: flex;
}

.step {
  border: none;
  background-color: rgb(60, 60, 60);
  height: 5rem;
  width: 5rem;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.active {
  border: var(--black-ish) solid 15px;
  border-radius: 50%;
  transition: 0.5s all;
}

.C {
  background-color: var(--pink);
  color: var(--pink);
}

.D {
  background-color: var(--purple);
  color: var(--purple);
}

.E {
  background-color: var(--aqua);
  color: var(--aqua);
}

.G {
  background-color: var(--lav);
  color: var(--lav);
}

.A {
  background-color: var(--pennyroyal);
  color: var(--pennyroyal);
}

.dropdown {
  min-width: max-content;
  width: 100%;
}

.controls {
  font-size: 1rem;
  text-align: center;
  max-width: 8rem;
}

.controls label {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.controls input[type='range'] {
  display: block;
  width: 100%;
  max-width: fit-content;
}

.dragControls {
  border: var(--white-ish) solid 5px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.dragKnob {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.deleteChannel {
  width: 60px;
  height: 60px;
  background-color: var(--pink);
  color: var(--pink);
  border: none;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
