:root {
  --pink: #fe5ca7ff;
  --purple: #6e60b6ff;
  --aqua: #33bfcaff;
  --lav: #c47fdbff;
  --pennyroyal: #8080ffff;
  --white-ish: rgb(240, 240, 240);
  --black-ish: rgb(10, 10, 10);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  flex-direction: column;
}

.channel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: double white 3px;
  padding: 19px;
  /* background-color: var(--aqua); */
  border-radius: 10px;
}

.row {
  display: flex;
}

.step {
  border: none;
  background-color: rgb(30, 30, 30);
  height: 80px;
  width: 80px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.active {
  border: var(--black-ish) solid 15px;
  border-radius: 50%;
  transition: 0.5s all;
}

.C {
  background-color: var(--pink);
  color: var(--pink);
}

.D {
  background-color: var(--purple);
  color: var(--purple);
}

.E {
  background-color: var(--aqua);
  color: var(--aqua);
}

.G {
  background-color: var(--lav);
  color: var(--lav);
}

.A {
  background-color: var(--pennyroyal);
  color: var(--pennyroyal);
}

.dropdown {
  min-width: max-content;
  width: 100%;
}

.controls {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.controls input[type='range'] {
  display: block;
  width: 100%;
  max-width: fit-content;
}

.controls label {
  display: block;
}

.dragControls {
  border: var(--white-ish) solid 5px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.dragKnob {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
