@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Major+Mono+Display&display=swap');

/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Major Mono Display', monospace; */

:root {
  --pink: #fe5ca7ff;
  --purple: #6e60b6ff;
  --aqua: #33bfcaff;
  --lav: #c47fdbff;
  --pennyroyal: #8080ffff;
}

body {
  margin: 0px;
  background-color: rgb(4, 4, 4);
  color: white;
  font-family: 'Barlow', sans-serif;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 60px;
  padding: 5px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5448a7;
  width: 100vw;
}

header a,
header button {
  text-decoration: none;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #49205c;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #5448a7;
  width: 100vw;
}

footer a {
  text-decoration: none;
  font-weight: 700;
}

header a:hover,
header button:hover,
footer a:hover {
  color: aqua;
}

.loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loggedIn p {
  color: #5448a7;
  font-weight: 500;
}

.loggedIn:hover p {
  color: black;
}
