@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Major+Mono+Display&display=swap');

.playButton {
  font-family: 'Major Mono Display';
  width: 90px;
  height: 90px;
  font-size: 120%;
}

.label {
  font-size: 120%;
}

.bpmCounter {
  border-radius: 10px;
  font-family: 'Barlow';
  align-self: center;
  width: 60px;
  height: 60px;
  background-color: var(--black-ish);
  color: var(--white-ish);
  font-size: 120%;
}
