.pianoContainer {
  padding: 15px;
  width: 955px;
  border-radius: 10px;
  border: rgb(232, 229, 229) 2px solid;
}

.pianoKeyWhite {
  height: 380px;
  width: 100px;
  padding-bottom: 20px;
}

.pianoKeyBlack {
  height: 250px;
  width: 70px;
  background-color: rgb(41, 41, 41);
  color: white;
  position: absolute;
  margin-left: -40px;
  border-radius: 5px;
}

.effectsRack {
  width: 100%;
  height: 150%;
  cursor: grab;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
