.select {
  border-radius: 10px;
  border: var(--white-ish) double 5px;
  font-family: 'Barlow';
  align-self: center;
  width: 180px;
  height: 60px;
  background-color: var(--black-ish);
  color: var(--white-ish);
  margin: 5px;
}
