.profileForm {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  align-items: space-between;
  border: aqua 1px solid;
  overflow: auto;
  width: 30vw;
  gap: 1.5em;
  padding: 1em;
}

.profileForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileForm input,
.profileForm textarea {
  font-family: 'Barlow', sans-serif;
  background-color: var(--pink);
  border-radius: 4px;
  padding: 4px;
  font-weight: 600;
}

.profileForm input::placeholder {
  color: var(--black-ish);
}

.profileForm label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 1em;
}

.profileForm div button {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  background-color: var(--white-ish);
}

.profileForm div button:hover {
  filter: drop-shadow(0 0.2rem 0.25rem var(--pink));
}
