@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Major+Mono+Display&display=swap');

:root {
  --pink: #fe5ca7;
  --purple: #6e60b6;
  --aqua: #33bfca;
  --lav: #c47fdb;
  --pennyroyal: #8080ff;
  --white-ish: rgb(240, 240, 240);
  --black-ish: rgb(10, 10, 10);
}

body {
  margin: 0;
  background-color: var(--black-ish);
  color: var(--white-ish);
  font-family: 'Barlow', sans-serif;
  position: relative;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding-top: 1rem;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--pennyroyal);
  width: 100vw;
  position: fixed;
  bottom: 0%;
}

header a,
footer a {
  color: var(--pennyroyal);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  border-bottom: solid transparent 1px;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  color: var(--aqua);
  border-bottom: solid var(--white-ish) 1px;
}

footer img {
  width: 4rem;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 2rem;
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;
}

.navLinks {
  margin: 2rem;
}
