@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Major+Mono+Display&display=swap');

:root {
  --pink: #fe5ca7;
  --purple: #6e60b6;
  --aqua: #33bfca;
  --lav: #c47fdb;
  --pennyroyal: #8080ff;
  --white-ish: #f0f0f0;
  --black-ish: #0a0a0a;
  --inactive: #3c3c3c;
}

body {
  margin: 0;
  background-color: var(--black-ish);
  color: var(--white-ish);
  font-family: 'Barlow', sans-serif;
  position: relative;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
