.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section p {
  font-size: 1.75rem;
}

.homeBanner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Major Mono Display', monospace;
}

.homeBanner img:first-child {
  width: 10rem;
  animation-name: right-spin;
  animation-duration: 1.5s;
}

.homeBanner img:last-child {
  width: 10rem;
  animation-name: left-spin;
  animation-duration: 1.5s;
}

.registerLink {
  color: var(--white-ish);
}

.registerLink:hover {
  color: var(--aqua);
}

.navButton > button {
  background-color: var(--purple);
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  color: var(--white-ish);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Major Mono Display', monospace;
  cursor: pointer;
}

button:hover,
button:focus,
.navButton:hover > button,
.navButton:focus > button {
  color: var(--purple);
  background-color: var(--white-ish);
}

@keyframes right-spin {
  from {
    tranform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes left-spin {
  from {
    tranform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
